<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="./form-usuario.component.css">
</head>

<body>
    <div class="login-box">
        <form [formGroup]="checkoutForm">
            <div class="input-section form-group">
                <img src="../../../assets/img/vectorpaint.svg" />
                <input class="input-area" type="text" [(ngModel)]="usuario.userID" placeholder="UserID" formControlName='userID'>
                <div class="text-danger" *ngIf="checkoutForm.get('userID')?.hasError('required') && checkoutForm.get('userID')?.touched">
                    <span>El UserID <strong>es obligatorio.</strong></span>
                </div>
            </div>
            <div class="input-section form-group">
                <i class="fas fa-lock"></i>
                <input class="input-area" type="password" [(ngModel)]="usuario.password" placeholder="Contraseña" formControlName='password'>
                <div class="text-danger" *ngIf="checkoutForm.get('password')?.hasError('required') && checkoutForm.get('password')?.touched">
                    <span>La contraseña <strong>es obligatoria. </strong></span>
                </div>
            </div>
            <div class="input-section form-group" [ngClass]="{'hidden' : banderaSH}">
                <i class="far fa-envelope"></i>
                <input class="input-area" type="email" [(ngModel)]="usuario.email" placeholder="Email" formControlName='email'>
                <div class="text-danger" *ngIf="checkoutForm.get('email')?.hasError('required') && checkoutForm.get('email')?.touched">
                    <span>El email <strong>es obligatorio.</strong></span>
                </div>
            </div>
            <div class="input-section form-group" [ngClass]="{'hidden' : banderaSH}">
                <i class="far fa-user"></i>
                <input class="input-area" type="text" [(ngModel)]="usuario.nombre" placeholder="Nombre y apellidos" formControlName='nombre'>
                <div class="text-danger" *ngIf="checkoutForm.get('nombre')?.hasError('required') && checkoutForm.get('nombre')?.touched">
                    <span>El nombre y los apellidos <br> <strong>es obligatorio.</strong></span>
                </div>
            </div>
            <div class="input-section form-group" [ngClass]="{'hidden' : banderaSH}">
                <img src="../../../assets/img/door-open.svg" />
                <div style="color: #212529; 
                        display: inline-block;
                        background: none;
                        border: none;
                        outline: none;
                        color: #ddd;
                        border-radius: 0;  font-family: inherit; font-size: inherit;line-height: inherit;">
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Curso &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

                <select (click)="show()" class="input-section form-group" [(ngModel)]="usuario.curso" formControlName='curso' style="color:white;
                            display: inline-block;
                            background: none;
                            border: none;
                            outline: none;
                            color: #ddd;
                            border-radius: 0;  font-family: inherit; font-size: inherit;line-height: inherit;
                            width: 90px;
                            text-align-last:center;">
                                <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                                value="6">Sexto</option>
                                <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                                value="7">Septimo</option>
                                <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                                value="8">Octavo</option>
                                <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                                value="9">Noveno</option>
                                <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                                value="10">Decimo</option>
                                <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                                value="11">Once</option>
                        </select>
                <div class="text-danger" *ngIf="checkoutForm.get('curso')?.hasError('required') && checkoutForm.get('curso')?.touched">
                    <span>El curso <br> <strong>es obligatorio.</strong></span>
                </div>
            </div>
            <div class="input-section form-group" [ngClass]="{'hidden' : banderaSH}">
                <i class="far fa-user"></i>
                <div style="color: #212529; 
                        display: inline-block;
                        background: none;
                        border: none;
                        outline: none;
                        color: #ddd;
                        border-radius: 0;  font-family: inherit; font-size: inherit;line-height: inherit;">
                    <br> &nbsp; Tipo de usuario &nbsp; </div>

                <select (click)="show()" class="input-section form-group" [(ngModel)]="usuario.tipoUsuario" formControlName='tipoUsuario' style="color:white;
                    display: inline-block;
                    background: none;
                    border: none;
                    outline: none;
                    color: #ddd;
                    border-radius: 0;  font-family: inherit; font-size: inherit;line-height: inherit;
                    width: 110px;
                    text-align-last:center;">
                        <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                        value="1" >Estudiante</option>
                        <option style="color:black; font-family: inherit; font-size: inherit;line-height: inherit;" 
                        value="0">Docente</option>
                </select>
                <div class="text-danger" *ngIf="checkoutForm.get('tipoUsuario')?.hasError('required') && checkoutForm.get('tipoUsuario')?.touched">
                    <span>El tipo de usuario <br> <strong>es obligatorio.</strong></span>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div *ngIf="usuario.tipoUsuario == 0">
                <div class="input-section form-group" [ngClass]="{'hidden' : bandera}">
                    <img src="../../../assets/img/book.svg" />
                    <input class="input-area" type="text" [(ngModel)]="usuario.materias" placeholder="Materias" formControlName='materias'>
                    <div class="text-danger" *ngIf="checkoutForm.get('materias')?.hasError('required') && checkoutForm.get('materias')?.touched">
                        <span>La materia <br> <strong>es obligatoria.</strong></span>
                    </div>
                </div>
            </div>
            <button style="margin-bottom: 15px;" (click)=hidden() class="btn" id="login-btn">{{loginText}}</button>
            <button (click)=limpiar() [ngClass]="{'hidden' : banderaL}" class="btn" id="login-btn">Limpiar</button>
            <div class="question-box">
                <p class="question">{{question}}</p>
                <a><br></a>
                <a (click)=showHidden() class="reg-btn" id="reg-btn" [routerLink]="['#']">{{reg}}</a>
            </div>
        </form>
    </div>
</body>